{% extends 'main/base.html' %}
{% load static %}
{% load goods_tags %}
{% block title %} Каталог {% endblock title %}
{% block content %}
<section>
    <div class="container">
        <!-- Каталог и корзина с фиксированным расположением на странице -->
        <div class="row mt-1 position-fixed z-3">
            <!-- Каталог -->
            <div class="dropdown mb-2">
                <button class="btn btn-secondary dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Список категорий
                    <img class="mx-1" src="{% static 'deps/icons/grid-fill.svg' %}" alt="Catalog Icon" width="16"
                         height="16">
                </button>
                <ul class="dropdown-menu bg-dark" data-bs-theme="dark">
                    <li><a class="dropdown-item text-white" href="{% url 'goods:catalog_page' %}">Все товары</a></li>
                    {% categories_tag as categories %}
                    {% for category in categories %}
                    <li><a class="dropdown-item text-white" href="{% url 'goods:catalog_page' category_slug=category.slug %}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <!-- Значек корзины, вызывает модальное окно -->
            <div>
                <button type="button" class="btn btn-dark btn-secondary d-flex" id="modalButton" aria-expanded="false">
                    <img class="mx-1" src="{% static 'deps/icons/basket2-fill.svg' %}" alt="Catalog Icon" width="24"
                         height="24">
                    <span>0</span>
                </button>
            </div>
            <!-- Разметка модального окна корзины -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h3 class="text-center mb-4">Корзина</h3>
                            <div class="container" id="cart-items-container">
                                <!-- Разметка корзины -->
                                <div class="card mb-3 text-bg-light shadow-lg">
                                    <div class="card-header">
                                        <h5 class="card-title">Товар</h5>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <div class="row text-center">
                                                <div class="col p-0">
                                                    <div class="input-group">
                                                            <span class="input-group-btn">
                                                                <button type="button"
                                                                        class="btn btn-dark btn-sm decrement"
                                                                        data-cart-id=""
                                                                        data-cart-change-url="">-</button>
                                                            </span>
                                                        <input type="text" class="form-control number" value="1"
                                                               readonly>
                                                        <span class="input-group-btn">
                                                                <button type="button"
                                                                        class="btn btn-dark btn-sm increment"
                                                                        data-cart-id=""
                                                                        data-cart-change-url="">+</button>
                                                            </span>
                                                    </div>
                                                </div>
                                                <div class="col p-0">
                                                    <p>x 100.00 = </p>
                                                </div>
                                                <div class="col p-0"><strong>100.00 $</strong></div>
                                                <div class="col p-0">
                                                    <a href="#" class="remove-from-cart" data-cart-id="">
                                                        <img class="mx-1"
                                                             src="{% static 'deps/icons/trash3-fill.svg' %}"
                                                             alt="Catalog Icon" width="16" height="16">
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card mb-3 shadow-lg">
                                    <div class="card-footer">
                                        <p class="float-left">Итого <strong>1</strong> товар(а) на сумму</p>
                                        <h4 class="float-left"><strong>100.00 $</strong></h4>
                                    </div>
                                </div>
                                <!-- Закончилась разметка корзины -->
                            </div>
                            <a class="btn btn-dark" href="../orders/create_order.html">
                                Оформить заказ
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Закончилась разметка модального окна -->
        </div>
    </div>
    <!-- Контент -->
    <div class="container">
        <div class="row mt-1">
            <div class="col-lg-2">
                <!-- Пустой блок на усмотрение -->
            </div>
            <div class="col-lg-10">
                <!-- Контент на странице -->
                <div class="row">
                    <!-- Форма фильтров -->
                    <div class="dropdown mb-2">
                        <button class="btn btn-secondary dropdown-toggle btn-dark" type="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                            Фильтры
                        </button>

                        <form action="" method="GET" class="dropdown-menu bg-dark" data-bs-theme="dark">
                            <div class="form-check text-white mx-3">
                                <input class="form-check-input" type="checkbox" name="on_sale" id="flexCheckDefault"
                                       value="True" {% if request.GET.on_sale %} checked {% endif %}>
<!--                                <input type="hidden" name="q" value="True">-->
                                <label class="form-check-label" for="flexCheckDefault">
                                    Товары по акции
                                </label>
                            </div>
                            <p class="text-white mx-3 mt-3">Сортировать:</p>
                            <div class="form-check text-white mx-3">
                                <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault1"
                                       value="default" {% if not request.GET.order_by or request.GET.order_by == 'default' %} checked {% endif %}>
                                <label class="form-check-label" for="flexRadioDefault1">
                                    По умолчанию
                                </label>
                            </div>
                            <div class="form-check text-white mx-3">
                                <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault2"
                                       value="price" {% if request.GET.order_by == 'price' %} checked {% endif %}>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    От дешевых к дорогим
                                </label>
                            </div>
                            <div class="form-check text-white mx-3">
                                <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault3"
                                       value="-price" {% if request.GET.order_by == '-price' %} checked {% endif %}>
                                <label class="form-check-label" for="flexRadioDefault3">
                                    От дорогих к дешевым
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary mx-3 mt-3">Применить</button>
                        </form>
                    </div>

                    <!-- Карта товара -->
                    {% for product in products %}
                    {% if product.is_active %}
                    <div class="col-lg-4 col-md-6 p-4">
                        <div class="card border-primary rounded custom-shadow">

                            {% if product.image %}
                            <a href="{% url 'goods:product_page' product_slug=product.slug %}">
                            <img src="{{ product.image.url }}"
                                 class="card-img-top"
                                 alt="{{ product.name }}">
                            </a>
                            {% else %}
                            <a href="{% url 'goods:product_page' product_slug=product.slug %}">
                            <img src="{% static 'deps/images/Not found image.png' %}"
                                 class="card-img-top"
                                 alt="Not found image">
                            </a>
                            {% endif %}

                            <div class="card-body">


                                <a href="{% url 'goods:product_page' product_slug=product.slug %}">
                                    <p class="card-title">{{ product.name|capfirst|truncatechars:30 }}</p>
                                </a>


                                <p>{{ product.description|capfirst|truncatechars:40 }}</p>
                                <p class="product_id">id: {{ product.display_id }}</p>
                                <div class="d-flex justify-content-between">

                                    {% if product.discount %}
                                    <p><s>{{ product.price }}</s> $</p>
                                    <span class="badge bg-warning text-dark">Скидка {{ product.discount }} %</span>
                                    <p><strong>{{ product.sell_price }} $</strong></p>
                                    {% else %}
                                    <p><strong>{{ product.price }} $</strong></p>
                                    {% endif %}

                                    <a href="#" class="btn add-to-cart">
                                        <img class="mx-1" src="{% static 'deps/icons/cart-plus.svg'%}"
                                             alt="Catalog Icon"
                                             width="32" height="32">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}

                </div>

                <!-- Пагинация -->
                {% if products %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center my-2">
                            <div class="custom-shadow d-flex">
                                {% if products.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?{% change_params page=products.previous_page_number %}">Назад</a>
                                    </li>
                                {% endif %}

                                {% for page in products.paginator.page_range %}
                                {% if page >= products.number|add:-2 and page <= products.number|add:2 %}
                                    <li class="page-item{% if products.number == page %} active{% endif %}">
                                        <a class="page-link" href="?{% change_params page=page %}">{{ page }}</a>
                                    </li>
                                {% endif %}
                                {% endfor %}

                                {% if products.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?{% change_params page=products.next_page_number %}">Вперед</a>
                                    </li>
                                {% endif %}
                            </div>
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}
