{% extends 'main/base.html' %}
{% load static %}
{% load goods_tags %}
{% block title %} Описание товара  {% endblock title %}
{% block content %}
<section>
    <div class="container">
        <!-- Каталог и корзина с фиксированным расположением на странице -->
        <div class="row mt-1 position-fixed z-3">
            <!-- Каталог -->
            <div class="mb-2">
                <a href="{% url 'goods:catalog_page' %}">
                    <button class="btn btn-secondary dropdown-toggle btn-dark" type="button"
                            aria-expanded="false">
                        Каталог
                        <img class="mx-1" src="{% static 'deps/icons/grid-fill.svg' %}" alt="Catalog Icon" width="16"
                             height="16">
                    </button>
                </a>

                <!--       category         -->


            </div>
            <!-- Значек корзины, вызывает модальное окно -->
            <div>
                <button type="button" class="btn btn-dark btn-secondary d-flex" id="modalButton"
                        aria-expanded="false">
                    <img class="mx-1" src="{% static 'deps/icons/basket2-fill.svg' %}" alt="Catalog Icon" width="24"
                         height="24">
                    <span>0</span>
                </button>
            </div>
            <!-- Разметка модального окна корзины -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h3 class="text-center mb-4">Корзина</h3>
                            <div class="container" id="cart-items-container">
                                <!-- Разметка корзины -->
                                <div class="card mb-3 text-bg-light shadow-lg">
                                    <div class="card-header">
                                        <h5 class="card-title">Товар</h5>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <div class="row text-center">
                                                <div class="col p-0">
                                                    <div class="input-group">
                                                            <span class="input-group-btn">
                                                                <button type="button"
                                                                        class="btn btn-dark btn-sm decrement"
                                                                        data-cart-id=""
                                                                        data-cart-change-url="">-</button>
                                                            </span>
                                                        <input type="text" class="form-control number" value="1"
                                                               readonly>
                                                        <span class="input-group-btn">
                                                                <button type="button"
                                                                        class="btn btn-dark btn-sm increment"
                                                                        data-cart-id=""
                                                                        data-cart-change-url="">+</button>
                                                            </span>
                                                    </div>
                                                </div>
                                                <div class="col p-0">
                                                    <p>x 100.00 = </p>
                                                </div>
                                                <div class="col p-0"><strong>100.00 $</strong></div>
                                                <div class="col p-0">
                                                    <a href="#" class="remove-from-cart" data-cart-id="">
                                                        <img class="mx-1" src="../deps/icons/trash3-fill.svg"
                                                             alt="Catalog Icon" width="16" height="16">
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card mb-3 shadow-lg">
                                    <div class="card-footer">
                                        <p class="float-left">Итого <strong>1</strong> товар(а) на сумму</p>
                                        <h4 class="float-left"><strong>100.00 $</strong></h4>
                                    </div>
                                </div>
                                <!-- Закончилась разметка корзины -->
                            </div>
                            <a class="btn btn-dark" href="../orders/create_order.html">
                                Оформить заказ
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Закончилась разметка модального окна -->
        </div>
    </div>
    <!-- Контент -->
    <div class="container">
        <div class="row mt-1">
            <div class="col-lg-2">
                <!-- Пустой блок на усмотрение -->
            </div>
            <div class="col-lg-10">
                <!-- Контент на странице -->
                <div class="container mt-5">
                    <div class="card mb-4 custom-shadow">
                        <div class="row">
                            <!-- Миниатюры -->
                            {% if product.image %}
                            <div class="col-md-4">
                                <img src="{{ product.image.url }}"
                                     class="img-thumbnail" data-bs-toggle="modal" data-bs-target="#imageModal1">
                            </div>
                            {% else %}
                            <div class="col-md-4">
                                <img src="{% static 'deps/images/Not found image.png' %}"
                                     class="img-thumbnail" data-bs-toggle="modal" data-bs-target="#imageModal1">
                            </div>
                            {% endif %}
                            <div class="col-md-4 ">
                                <p class="product_id mt-3">id: {{ product.display_id }}</p>
                            </div>
                            <!-- Увеличить изображение в модальном окне -->
                            <div class="modal fade" id="imageModal1" tabindex="-1"
                                 aria-labelledby="imageModal1Label" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="imageModal1Label">Изображение 1</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Закрыть"></button>
                                        </div>
                                        {% if product.image %}
                                        <div class="modal-body">
                                            <img src="{{ product.image.url }}"
                                                 class="img-fluid" alt="Изображение 1">
                                        </div>
                                        {% else %}
                                        <div class="col-md-4">
                                            <img src="{% static 'deps/images/Not found image.png' %}"
                                                 class="img-thumbnail" data-bs-toggle="modal"
                                                 data-bs-target="#imageModal1">
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Описание товара -->
                        <div class="card-body">
                            <p class="card-text">Цена: <strong>{{ product.sell_price }} $</strong></p>
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                            <p class="card-text">Всего товаров в категории {{ product.category.name }} - {{ total_products_in_category }}</p>
                            <a href="#" class="btn btn-dark add-to-cart">Добавить в корзину</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}