{% extends 'main/base.html' %}
{% load static %}

{% block title %} О нас {% endblock title %}

{% block content %}
<div class="col-lg-2">
    <!-- Пустой блок на Ваше усмотрение -->
</div>
<div class="col-lg-10">
    <!-- Контент на странице -->
    <h1 class="mt-5 pt-5"><strong>{Shop Name(ShopyShop)}</strong></h1>
</div>
<div class="my-5 pt-5 px-2 pb-2 bg-white custom-shadow rounded">
    <h2 class="m-2"><strong>О нас</strong></h2>
    <p class="m-2" style="font-size: 1.2rem;">Текст о том какой классный этот интернет магазин.</p>
    <p class="m-2" style="font-size: 1.2rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores atque ex laborum maxime repudiandae. Architecto cupiditate eos fugiat fugit, libero, molestias nam nesciunt odio quis quos tempora, tempore temporibus?</p>
    <p class="m-2" style="font-size: 1.2rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores atque ex laborum maxime repudiandae. Architecto cupiditate eos fugiat fugit, libero, molestias nam nesciunt odio quis quos tempora, tempore temporibus?</p>
    <p class="m-2" style="font-size: 1.2rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores atque ex laborum maxime repudiandae. Architecto cupiditate eos fugiat fugit, libero, molestias nam nesciunt odio quis quos tempora, tempore temporibus?</p>
    <p class="m-2" style="font-size: 1.2rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores atque ex laborum maxime repudiandae. Architecto cupiditate eos fugiat fugit, libero, molestias nam nesciunt odio quis quos tempora, tempore temporibus?</p>
    <p class="m-2" style="font-size: 1.2rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores atque ex laborum maxime repudiandae. Architecto cupiditate eos fugiat fugit, libero, molestias nam nesciunt odio quis quos tempora, tempore temporibus?</p>
</div>

{% endblock content %}

