{% extends 'main/base.html' %}
{% load static %}
{% load goods_tags %}
{% block title %} Главная страница {% endblock title %}

{% block content %}

<section>
    <div class="container">
        <!-- Каталог и корзина с фиксированным расположением на странице -->
        <div class="row mt-1 position-fixed z-3">
            <!-- Каталог -->
            <div class="mb-2">

                <a href="{% url 'goods:catalog_page' %}">
                <button class="btn btn-secondary btn-dark" type="button"
                        aria-expanded="false">
                    Каталог
                    <img class="mx-1" src="{% static 'deps/icons/grid-fill.svg' %}" alt="Catalog Icon" width="16"
                         height="16">
                </button>
                </a>

                <!--       category         -->


            </div>



        </div>
    </div>
    <!-- Контент -->
    <div class="container">
        <div class="row mt-1">
            <div class="col-lg-2">

                {% include "main/notifications.html" %}
                <!-- Пустой блок на Ваше усмотрение -->

            </div>
            <div class="col-lg-10">
                <!-- Контент на странице -->
                <h1 class="mt-5 pt-5"><strong>{Shop Name(ShopyShop)}</strong></h1>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

